references:
    basepath: "/ELS/els9/users/biosciences/references"
    provider: "ucsc"
    release: "hg19"
genome_fasta: "ucsc.hg19.fasta"
genes_gtf: "Annotation/Genes/genes.gtf"
genes_gff: "/u/rajeshpal93/scratch/test_run/lncrna/newrides/LnC-RAP/lncipedia_5_2_hc_hg19.gff"
#tx2gene_hsa: "rna/tx2gene_hsa.RData"

#transcriptome_reference:
#    basepath: "/ELS/els9/users/biosciences/references"
#    provider: "ensembl"
#    release: "GRCh38"
#transcriptome_fasta: "Homo_sapiens.GRCh38.cdna.all.fa.gz"

strand: "reverse"

rules:
    multiqc:
        arguments: "--force "
    featureCounts_run:
        gtf_feature_type1: "exon"
        gtf_feature_type2: "lnc_RNA"
    trim_galore_pe:
        arguments: "-q 20"
    trim_galore_se:
        arguments: "-q 20"
wrappers:
    fastqc: "/u/rajeshpal93/smallrna-columbano/wrappers/bio/fastqc"
    trim_galore_se: "/u/rajeshpal93/smallrna-columbano/wrappers/bio/trim_galore/se"
    trim_galore_pe: "/u/rajeshpal93/smallrna-columbano/wrappers/bio/trim_galore/pe"

samples: "/u/rajeshpal93/scratch/test_run/lncrna/newrides/ride/samples.tsv"
units: "/u/rajeshpal93/scratch/test_run/lncrna/newrides/ride/units.tsv"

read_type: "pe"